* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 100vw;
  height: 100vh;
  /* background: turquoise; */
  /* background: url("https://www.pexels.com/video/drone-footage-of-islands-5077814/"); */
}
/* #pageVideo {
  width: 100%;
  height: 100%;
} */
